---
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import HiddenDigit from "./easter-egg/HiddenDigit.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="bg-gray-50 dark:bg-gray-900 border-t border-gray-200 dark:border-gray-800 mt-auto"
>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="flex justify-center space-x-6 md:order-2">
        <a
          href="https://github.com/isaacismaelx14"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-gray-500"
        >
          <span class="sr-only">GitHub</span>
          <GitHubIcon class="h-6 w-6" />
        </a>
        <a
          href="https://www.linkedin.com/in/isaacismaelx14/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-gray-500"
        >
          <span class="sr-only">LinkedIn</span>
          <LinkedInIcon class="h-6 w-6" />
        </a>
      </div>
      <div class="mt-8 md:mt-0 md:order-1">
        <p
          class="text-center text-base text-gray-600 dark:text-gray-400 group cursor-default"
        >
          &copy; {currentYear} Isaac Martinez. All rights reserved. <HiddenDigit
            digit="2"
            class="ml-1"
          />
        </p>
      </div>
    </div>
  </div>
</footer>
