name: Release

on:
    push:
        branches:
            - master

permissions:
    contents: write

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20

            - name: Setup Git
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"

            - name: Install release-it
              run: npm install -g release-it @release-it/conventional-changelog

            - name: Release
              run: release-it --ci
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
